[submodule "Projet-1"]
	path = Projet-1
	url = https://github.com/ElMoucheh/Projet-1
[submodule "Projet-2"]
	path = Projet-2
	url = https://github.com/ElMoucheh/Projet-2
[submodule "Projet-3"]
	path = Projet-3
	url = https://github.com/ElMoucheh/Projet-3
[submodule "Projet-4"]
	path = Projet-4
	url = https://github.com/ElMoucheh/Projet-4
[submodule "Projet-5"]
	path = Projet-5
	url = https://github.com/ElMoucheh/Projet-5
[submodule "Projet-6"]
	path = Projet-6
	url = https://github.com/ElMoucheh/Projet-6
[submodule "Projet-7"]
	path = Projet-7
	url = https://github.com/ElMoucheh/Projet-7
[submodule "Projet-9"]
	path = Projet-9
	url = git@github.com:ElMoucheh/Projet-9.git
[submodule "Projet-10"]
	path = Projet-10
	url = git@github.com:ElMoucheh/Projet-10.git
[submodule "Projet-11"]
	path = Projet-11
	url = git@github.com:ElMoucheh/Projet-11.git
[submodule "Projet-12"]
	path = Projet-12
	url = git@github.com:ElMoucheh/Projet-12.git
[submodule "Projet-13"]
	path = Projet-13
	url = git@github.com:ElMoucheh/Projet-13.git
[submodule "Projet-14"]
	path = Projet-14
	url = git@github.com:ElMoucheh/Projet-14.git
