[submodule "Projet-1"]
	path = Projet-1
	url = https://github.com/ElMoucheh/Projet-1
[submodule "Projet-2"]
	path = Projet-2
	url = https://github.com/ElMoucheh/Projet-2
[submodule "Projet-3"]
	path = Projet-3
	url = https://github.com/ElMoucheh/Projet-3
[submodule "Projet-4"]
	path = Projet-4
	url = https://github.com/ElMoucheh/Projet-4
[submodule "Projet-5"]
	path = Projet-5
	url = https://github.com/ElMoucheh/Projet-5
[submodule "Projet-6"]
	path = Projet-6
	url = https://github.com/ElMoucheh/Projet-6
[submodule "Projet-7"]
	path = Projet-7
	url = https://github.com/ElMoucheh/Projet-7
[submodule "Projet-9"]
	path = Projet-9
	url = https://github.com/ElMoucheh/Projet-9
